@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    @apply m-0 p-0 box-border border-0 text-white not-italic;
  font-family: "Josefin Sans", sans-serif;
  }

  body {
    @apply min-h-screen flex justify-center
           bg-no-repeat bg-contain
           bg-[hsl(0,0%,98%)]
           bg-[url('./assets/backgrounds/bg-desktop-light.jpg')]
           dark:bg-[hsl(235,21%,11%)]
           dark:bg-[url('./assets/backgrounds/bg-desktop-dark.jpg')];
  }

  /* Como o body é flex, quem recebe o tamanho do app é o #root */
  #root {
    @apply w-full sm:basis-[67%] xl:basis-[37%];
  }

  img {
    @apply w-full;
  }

  button {
    @apply bg-transparent cursor-pointer block;
  }
}

@media (max-width: 640px) {
  body {
    @apply px-[25px]
           bg-[url('./assets/backgrounds/bg-mobile-light.jpg')]
           dark:bg-[url('./assets/backgrounds/bg-mobile-dark.jpg')];
  }
}

@media (min-width: 1000px) {
  li img {
    @apply invisible;
  }

  li:hover img {
    @apply visible;
  }
}

@layer components {
  .selectionCircle {
    mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }

  .selection_circle::after {
    content: "";
    position: absolute;

    @apply border-2 border-white
           border-t-0 border-r-0
           rotate-[-45deg] opacity-0
           top-[6px] left-[6px]
           w-[9px] h-[5px]
           sm:top-[10px] sm:left-[8px]
           sm:w-[10px] sm:h-[5px];
  }

  label .selection_circle:hover {
    background: linear-gradient(
      to bottom right,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
    @apply cursor-pointer;
  }

  label:has(span:hover) .selection_circle {
    background: linear-gradient(
      to bottom right,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
    @apply cursor-col-resize;
  }

  footer {
    @apply h-[13vh] flex items-center justify-center;
  }

  input[type="checkbox"]:checked + label .selection_circle {
    mask: none;
    background: linear-gradient(
      to bottom right,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
  }

  input[type="checkbox"]:checked + label .selection_circle::after {
    @apply opacity-100;
  }

  input[type="checkbox"]:checked + label span {
    @apply line-through text-[hsl(234,39%,85%)] dark:text-[hsl(235,19%,35%)];
  }

  li img {
    @apply visible;
  }

  span {
    @apply text-[hsl(235,19%,35%)] dark:text-[hsl(234,39%,85%)];
  }
}

@theme {
  --shadow-list: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  --shadow-input: rgba(0, 0, 0, 0.56) 0px 30px 200px 5px;
}
