@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    ;
  }

  body {
    min-height: 100vh;
    background-color: hsl(235, 21%, 11%);
    display: flex;
    justify-content: center;
    background-image: url('./assets/backgrounds/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    /* padding: 5.25% 0; */
  }

  /* Como o `body` é flex, quem recebe o "tamanho do app" é o `#root` */
  #root {
    @apply grow-0 shrink-0 basis-[37%];
  }

  img {
    width: 100%;
  }

  button {
    background-color: transparent;
    cursor: pointer;
    display: block;
  }
}


@layer components {
  .selectionCircle {
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }

  .selection_circle::after {
    position: absolute;
    content: "";
    border: 2px solid #fff;
    width: 8px;
    height: 3px;
    top: 10px;
    left: 9px;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
  }

  label .selection_circle:hover {
    background: linear-gradient(to bottom right,
        /*Define o background*/
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%));
    cursor: pointer;

  }

  label:has(span:hover) .selection_circle {
    background: linear-gradient(to bottom right,
        /*Define o background*/
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%));
    cursor: col-resize;
  }

  /*estudar sobre o has*/

  footer {
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="checkbox"]:checked+label .selection_circle {
    mask: none;
    /*Anula o comportamento da mascara*/
    background: linear-gradient(to bottom right,
        /*Define o background*/
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%));
  }

  input[type="checkbox"]:checked+label .selection_circle::after {
    opacity: 1;
  }

  input[type="checkbox"]:checked+label span {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
  }

  li img {
    visibility: hidden;
  }

  li:hover img {
    visibility: visible;
  }

  span {
    color: hsl(234, 39%, 85%);
  }
}

@theme {
  --shadow-list: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  --shadow-input: rgba(0, 0, 0, 0.56) 0px 30px 200px 5px;
}


/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */