@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    font-style: normal;
  }

  body {
    min-height: 100vh;
    background-color: hsl(235, 21%, 11%);
    display: flex;
    justify-content: center;
    background-image: url('./assets/backgrounds/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    /* padding: 5.25% 0; */
    /* @apply px-[25px] */
  }

  /* Como o `body` é flex, quem recebe o "tamanho do app" é o `#root` */
  #root {
    @apply w-full sm:basis-[67%] xl:basis-[37%];
  }

  img {
    width: 100%;
  }

  button {
    background-color: transparent;
    cursor: pointer;
    display: block;
  }
}

@media screen and (max-width: 640px) {
  body {
    background-image: url('./assets/backgrounds/bg-mobile-dark.jpg');
    @apply px-[25px] 
  }

  /* 
  li img {
    visibility: visible;
  }*/
}

@media screen and (min-width: 1000px) {
  li img {
    visibility: hidden;
  }

  li:hover img {
    visibility: visible;
  }

}

@layer components {
  .selectionCircle {
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }

  .selection_circle::after {
    position: absolute;
    content: "";
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;

    @apply top-[6px] left-[6px] sm:top-[10px] sm:left-[8px] w-[9px] h-[5px] sm:w-[10px] sm:h-[5px];
  }

  label .selection_circle:hover {
    background: linear-gradient(to bottom right,
        /*Define o background*/
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%));
    cursor: pointer;

  }

  label:has(span:hover) .selection_circle {
    background: linear-gradient(to bottom right,
        /*Define o background*/
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%));
    cursor: col-resize;
  }

  /*estudar sobre o has*/

  footer {
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="checkbox"]:checked+label .selection_circle {
    mask: none;
    /*Anula o comportamento da mascara*/
    background: linear-gradient(to bottom right,
        /*Define o background*/
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%));
  }

  input[type="checkbox"]:checked+label .selection_circle::after {
    opacity: 1;
  }

  input[type="checkbox"]:checked+label span {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
  }

  li img {
    visibility: visible;
  }

  span {
    color: hsl(234, 39%, 85%);
  }
}

@theme {
  --shadow-list: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  --shadow-input: rgba(0, 0, 0, 0.56) 0px 30px 200px 5px;
}